@font-face {
    font-family: 'futura-book';
    src:url('/assets/fonts/futuralt-book-webfont.woff') format('woff2'),
         url('/assets/fonts/futuralt-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_condensed';
    src:url('/assets/fonts/futuralt-condensed-webfont.woff2') format('woff2'),
         url('/assets/fonts/futuralt-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_condensed_bold';
    src:url('/assets/fonts/futuralt-condensedbold-webfont.woff2') format('woff2'),
         url('/assets/fonts/futuralt-condensedbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_condensed_light';
    src:url('/assets/fonts/futuralt-condensedlight-webfont.woff2') format('woff2'),
         url('/assets/fonts/futuralt-condensedlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}