:host{
    overflow: hidden;
    .flexcontainer {
        display: flex;
        align-items: center;
        justify-content: center;
        /* You can set flex-wrap and
            flex-direction individually */
        flex-direction: row;
        flex-wrap: wrap;
        /* Or do it all in one line
            with flex flow */
        flex-flow: row wrap;
        /* tweak where items line
            up on the row
            valid values are: flex-start,
            flex-end, space-between,
            space-around, stretch */
        align-content: flex-end;
        height:100vh;
        width: 100vw;
        div.flex-item{
            height: 50%;
            width: 33.3%;
            box-sizing: border-box;
            border: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            transform-style: preserve-3d;
            &.active{
                transition: all 0.5s linear;
                width: 100%;
                height: 100%;
                transform: rotateY(180deg);
                z-index: 99;
                left: 0 !important;
                right: 0 !important;
                top: 0 !important;
                bottom: 0 !important;
            }
            &.visible{
              .flex-container{
                transform: rotateY(-180deg);
                .face.back{
                  display: flex !important;
                }
              }
            }
            .flex-container{
                height: 100%;
                width: 100%;
                position:relative;
                z-index: 0;
                .face {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  z-index:9;
                  &.back {
                    display: none;
                    box-sizing: border-box;
                    background: #fff;
                    left: 0;
                    top: 0;
                  }
                  //&.visible{
                  //  backface-visibility: initial !important;
                  //}
                }
            }
            h2{
                font-size: 36px;
                color: #fff;
                font-family: 'futura-book';
                max-width: 80%;
                margin: 0 auto;
                text-align: center;
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                text-decoration: none;
                line-height: 44px;
            }
            @media all and (max-width: 768px){
                width: 50%;
                height: 33.3%;
            }
        }
    }
}

#flex-item-0{
    left: 0;
    right: 66.66%;
    top: 0;
    bottom: 50.1%;
    @media all and (max-width: 768px){
        left: 0;
        right: 50.1%;
        top: 0;
        bottom: 66.66%;
    }
}
#flex-item-1{
    left: 33.34%;
    right: 33.33%;
    top: 0;
    bottom: 50.1%;
    @media all and (max-width: 768px){
        left: 50%;
        right:0;
        top: 0;
        bottom: 66.66%;
    }
}
#flex-item-2{
    left: 66.67%;
    right: 100%;
    top: 0;
    bottom: 50.1%;
    @media all and (max-width: 768px){
        left: 0;
        right: 50.1%;
        top: 33.34%;
        bottom: 33.33%;
    }
}
#flex-item-3{
    left: 0;
    right: 66.6%;
    top: 50%;
    bottom: 100%;
    @media all and (max-width: 768px){
        left: 50%;
        right: 0;
        top: 33.34%;
        bottom: 33.33%;
    }
}
#flex-item-4{
    left: 33.34%;
    right: 66.6%;
    top: 50%;
    bottom: 100%;
    @media all and (max-width: 768px){
        left: 0;
        right: 50.1%;
        top: 66.66%;
        bottom: 0;
    }
}
#flex-item-5{
    left: 66.67%;
    right: 100%;
    top: 50%;
    bottom: 100%;
    @media all and (max-width: 768px){
        left: 50%;
        right: 0;
        top: 66.66%;
        bottom: 0;
    }
}


#category-info-container{
    z-index: 999;
    position: absolute;
    display: none;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column;
    align-content: flex-start;
    header{
        height: 90px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;
        @media all and (max-width: 850px){
            height: 70px;
        }
        a{
            font-size: 23px;
            color: #fff;
            text-decoration: none;
            background: url('../../assets/images/category_icon.png') no-repeat left top;
            padding: 3px 0 0 40px;
        }
        div{
            display:none;
            margin-right: 50px;
            @media all and (min-width: 1025px){
                display:block
            }
            a{
                background: none;
            }
        }
        @media all and (max-width: 768px){
            padding-left: 20px;
        }
    }
    #category-info{
        flex: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 50px;
        > div{
            max-width: 90%;
            margin: 0 auto;
            h1{
                font-size: 62px;
                line-height: 70px;
            }
            p{
                font-size: 22px;
                line-height: 28px;
                margin: 36px 0;
            }
            .btn{
                font-size: 36px;
                color: #fff;
                line-height: 72px;
                max-width: 190px;
                padding: 0 50px;
                text-decoration: none;
                letter-spacing: -0.03em;
                display: block;
                margin: 48px auto 0 auto;
                text-align: center;
            }
            @media all and (max-width: 850px){
                max-width: 90%;
                h1{
                    font-size: 32px;
                    line-height: 40px;
                }
                p{
                    margin: 20px 0;
                    font-size: 18px;
                }
                .btn{
                    line-height: 48px;
                    padding: 0 30px;
                    font-size: 20px;
                    max-width: 120px;
                }
            }
            @media all and (orientation:portrait){
                h1{
                    margin-bottom: 24px;
                }
                .btn{
                    margin-top: 24px;
                }
            }
        }
        #swiper{
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: -1;
            max-width: 25%;
            max-height: 150px;
            display: none;
            opacity: 0;
            transition: all 1.0s linear;
            &.active{
                animation:run 2s alternate 1s 2 linear;
            }
            &.fade{
              opacity: 1;
            }
            @media all and (max-width: 1280px){
                display: block;
            }
        }
        @keyframes run {
            0% { left: 0;}
            10% { left: -20%;}
            20% { left: 0;}
            30% { left: 20%;}
            40% { left: 0;}
            100% { left: 0;}
        }
    }
}