<div class="flexcontainer">
    <div *ngFor="let item of categories; let i = index" class="flex-item" id="flex-item-{{ i }}" [style.background-color]="item.color" [ngClass]="{'active': id-1 === i, 'visible': visibleId - 1 === i}">
        <div class="flex-container" [style.background-color]="item.color">
            <div class="face" (click)="openInfo(item.id);">
                <h2>{{item.name}}</h2>
            </div>
            <div class="face back" id="category-info-container" [ngClass]="{'visible': visibleId - 1 === i }" *ngIf="id">
                <header [style.background-color]="category['color']" (click)="$event.stopPropagation()">
                    <a (click)="closeInfo();">{{item.name}}</a>
                    <div>
                      <a [routerLink]="['/category', id, 'question', '1']">Nästa kort</a>
                    </div>
                </header>
                <div id="category-info" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
                    <div>
                        <h1>
                            {{item.headline}}
                        </h1>
                        <p *ngFor="let info of category['info']">
                            {{info}}
                        </p>
                    </div>
                    <img src="../../assets/images/hand.png" alt="Swipe to move" id="swiper"  [ngClass]="{'active': visibleId - 1 === i, 'fade': fade }">
                </div>
            </div>
        </div>
    </div>
</div>