<div id="splash-screen" (click)="navigateToCategoryGrid()">
  <a routerLink="/info" id="splash-info">
    <img src="../../assets/images/info.png" alt="Info"/>
  </a>
  <div class="centered-content">
    <img src="../../assets/images/logo.png" alt="Logo" />
  </div>
  <div class="footer-content">
    <img src="../../assets/images/splash_info.png" alt="#skatesweden" />
  </div>
</div>