#splash-screen{
   background-color: #273975;
   width: 100vw;
   height: 100vh; 
   #splash-info{
       position: absolute;
       left: 25px;
       top: 25px;
   }
   .centered-content{
       position: absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
      img{
        animation: beat .5s ease-in-out infinite alternate;
        -webkit-animation: beat .5s ease-in-out infinite alternate;
      }
       @media all and (max-height: 600px){
        top: 30%;
        transform: translate(-50%, -30%);
        img{
            max-height: 120px;
        }
       }
   }
   .footer-content{
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    @media all and (max-height: 600px){
        bottom: 35px;
    }
   }
}

@keyframes beat {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}