.flexcontainer{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column;
    align-content: flex-start;
    min-height:100vh;
    width: 100vw;
    background: #273975;
    padding: 50px 100px;
    box-sizing: border-box;
    p, h1, h2{
        color: #fff;
    }
    p{
        font-size: 20px;
        margin-bottom: 32px;
        line-height: 26px;
    }
    h1{
        font-size: 42px;
    }
    h2{
        font-size: 28px;
        margin: 32px 0;
    }
    @media all and (max-width: 768px){
        padding: 50px;
    }
}
#backToHome{
    position: absolute;
    right: 25px;
    top: 25px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    @media all and (max-width: 1024px){
        img{
            height: 21px;
            width: 20px;
        }
    }
}


.bottom-images{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    > img{
        max-width: 30%;
    }
    @media all and (max-width: 460px){
        flex-wrap: wrap;
        >img{
            max-width: 20%;
            margin: 24px auto 0 auto;
        }
    }
}