<div class="flexcontainer">
    <h1>
      Vår värdegrund
    </h1>
    <h2>Glädje, glöd och gemenskap!</h2>
    <p>Glädje, glöd och gemenskap är drivkrafterna i vår verksamhet. Vi vill bedriva och utveckla verksamheten så att vi har roligt, mår bra och presterar efter egen förmåga, intresse och vilja.<br>
      I konståkningens gemenskap är och känner sig alla välkomna.</p>
    <h2>Svenska Konståkningsförbundets diskussionskort</h2>
    <p>Svenska Konståkningsförbundets diskussionskort är framtagna för att underlätta diskussioner inom föreningen och sporten. Vi vill öka förståelsen mellan olika roller inom verksamheten, förbereda er för situationer som kan uppstå och hjälpa föreningar att möta sina medlemmar på bästa sätt. </p>
    <p>Välj kortkategori utifrån roll och målgrupp.<br>
      -- Styrelse. Styrelsen har det yttersta ansvaret för verksamheten. Korten syftar till att förbereda styrelsen på situationer som kan uppstå och möta sina medlemmar på bästa sätt. Dra ett kort vid varje styrelsemöte för att på ett enkelt sätt få värdegrundsfrågan på agendan.</p>
    <p>-- Tränare. Korten syftar till ökad förståelse för varandras roller i föreningen och förbundet samt förbättrat samarbete inom tränarteamet. Dra ett kort vid varje tränarmöte för att på ett enkelt sätt få värdegrundsfrågan på agendan.</p>      
    <p>-- Tekniska funktionärer. Korten syftar till ökad förståelse för den tekniska funktionärens roll i föreningen samt förbättrat samarbete inom domarkåren. Dra ett kort vid domarmötet, utbildningen eller i möten med din förening för att på ett enkelt sätt få värdegrundsfråga på agendan.</p>
    <p>-- Föräldrar. Korten syftar till ökad förståelse för varandras roller i föreningen samt föräldrarnas ansvar och del i att skapa ett positivt klimat i ishallen. Dra ett kort vid föräldramötet för att på ett enkelt sätt få värdegrundsfrågan på agendan.</p>
    <p>-- Åkare. Korten syftar till att säkra att åkarna är medvetna om svensk konståknings värdegrund samt åkarens ansvar och delaktighet i föreningens klubbkänsla. Korten lämpar sig bäst för åkarkategori från ungdom och äldre. Dra ett kort och diskutera.</p>
    <p>-- Trygg i ishallen. Dessa kort passar såväl barn som övriga målgrupper. Syftet med korten är att främja kamratskap och trivsel samt ökad förståelse för hur vi ska vara mot varandra. Ishallen ska vara en positiv och trygg plats. Dra ett kort och avsluta den påbörjade meningen.</p>
    <p>Materialet är framtaget med stöd av idrottslyftet.</p>
    <div class="bottom-images">
      <img src="../../assets/images/info1.png" alt=""/>
      <img src="../../assets/images/info2.png" alt=""/>
      <img src="../../assets/images/info3.png" alt=""/>
    </div>
</div>
<a routerLink="/" id="backToHome"><img src="../../assets/images/close.png" alt="Go back"/></a>