<div class="flexcontainer" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
    <header [style.background-color]="category['color']">
      <a routerLink="/categories">Kategorier</a>
      <div>
        <a *ngIf="+this.questionPosition > 1" [routerLink]="['/category', categoryId, 'question', +this.questionPosition - 1, 'prev']">Föregående kort</a>
        <a *ngIf="+this.questionPosition < questionCount" [routerLink]="['/category', categoryId, 'question', +this.questionPosition + 1]">Nästa kort</a>
      </div>
    </header>
    <div id="category-info">
      <div>
        <h1>
          {{questions['headline']}}          
        </h1>
        <p>
         {{questions['description']}}          
        </p>
        <ul>  
          <li *ngFor="let question of questions['questions']" [style.background-image]="'url(\'../../assets/images/bulletin_' + categoryId + '.png\')'">
             {{question}} 
          </li> 
        </ul>
      </div>
    </div>
  </div>