.flexcontainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column;
    align-content: flex-start;
    min-height:100vh;
    width: 100vw;
    header{
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 50px;
        width: 100%;
        box-sizing: border-box;
        @media all and (max-width: 850px){
            height: 70px;
        }
        a{
            font-size: 23px;
            color: #fff;
            text-decoration: none; 
            padding: 3px 0 0 40px; 
            background: url('../../assets/images/category_icon.png') no-repeat left top;
        }
        div{
            display:none;
            margin-right: 50px;
            @media all and (min-width: 1025px){
                display:block
            }
            a{
                background: none;
            }
        }
        @media all and (max-width: 768px){
            padding-left: 20px;
        }
    }
    #category-info{
        flex: 1;
        display: flex;
        align-items: flex-start;
        margin-top: 50px;
        width: 100%;
        > div{
            max-width: 75%;
            margin: 0 auto;
            h1{
                font-size: 62px;
                line-height: 70px;
            }
            p{
                font-size: 22px;
                line-height: 28px;
                margin: 36px 0;
            }
            .btn{
                font-size: 36px;
                color: #fff;
                line-height: 72px;
                max-width: 190px;
                padding: 0 50px;
                text-decoration: none;
                letter-spacing: -0.03em;
                display: block;
                margin: 48px auto 0 auto;
                text-align: center;
            }
            ul{
                li{
                    padding-left: 48px;
                    background-repeat: no-repeat;
                    background-position: left top;
                    background-size: auto 28px;
                    font-size: 22px;
                    line-height: 28px;
                    letter-spacing: -0.03em;
                    margin-top: 40px;
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
            @media all and (max-width: 850px){
                max-width: 90%;
                h1{
                    font-size: 30px;
                    line-height: 40px;
                }
                p{
                    margin: 20px 0;
                    font-size: 18px;
                }
                .btn{
                    line-height: 48px;
                    padding: 0 30px;
                    font-size: 20px;
                    max-width: 120px;
                }
                ul{
                    li{
                        font-size: 16px;
                        line-height: 20px;
                        margin-top: 20px;
                        background-size: 14px 22px;
                        background-position: left top;
                        background-size: auto 20px;
                        padding-left: 24px;
                    }
                }
            }
            @media all and (orientation:portrait){
                h1{
                    margin-bottom: 24px;
                    word-break: break-word;
                }
                .btn{
                    margin-top: 24px;
                }
            }
        }
    }
}