/* You can add global styles to this file, and also import other style files */
@import '../node_modules/reset-css/sass/reset';
@import 'assets/scss/fonts.scss';

body{
    width: 100vw;
    height: 100vh;
    font-family: 'futura-book';
}

@media all and (max-width: 480px){
    h1{
        font-size: 32px !important;
    }
    h2{
        font-size: 26px !important;
        line-height: 34px !important;
    }
}